/* $Id$ */
#chatroom-textentry {
  padding: 5px 5px 5px 5px;
  background-color: #f5f5f5;
  border: solid 1px #e0e0e0;
  margin-top: 20px;  
}
#chatroom-list-description {
  padding: 5px 5px 5px 5px;
  background-color: #f5f5f5;
  border: solid 1px #e0e0e0;
  margin-bottom: 20px;
}
.chatroom-textentry-smileys {
  padding-top: 10px;
}
.chatroom-user-away {
  opacity: 0.4;
  background: url(away.png) no-repeat bottom left;
  padding-left: 15px;
}
.chatroom-textentry-smileys-hidden {
  display: none;
}
.chatroom-textentry-smileys img {
  vertical-align: top;
  margin-right: 5px;
}
#chatroom-board {
  overflow: auto;
  height: 300px;
  padding: 1px 1px 1px 1px;
  margin-top: 5px;  
  border: solid 1px #e0e0e0;
}
#chatroom-board p {
  margin: 0 0 0 0;    
}
.clear-both {
  clear: both;
}
.chatroom-archive-user {
  font-weight: bold;
}
.chatroom-old-msg {
  color: #a0a0a0;
}
.chatroom-system-msg {
  color: #660000;
  font-style: italic;
}
.chatroom-time-msg {
  color: #999999;
  font-style: italic;
}
.chatroom-me-msg{  
  font-style: italic;
  color: #7777FF;  
}
.chatroom-time-msg, .chatroom-me-msg, .chatroom-old-msg, .chatroom-system-msg, .chatroom-msg {
  background-color: #f5f5f5;
  padding: 4px;
}
.chatroom-old-msg .header, .chatroom-system-msg .header, .chatroom-msg .header {
  font-weight: bold;
  margin-right: 3px;
  vertical-align: top;
}
.chatroom-old-msg .indent, .chatroom-system-msg .indent, .chatroom-msg .indent{
  margin-left: 15px;
}
.chatroomLink {
  font-style: italic;
  font-size: 0.9em;
}
/* vim: set expandtab tabstop=2 shiftwidth=2 autoindent smartindent: */
