/* $Id$ */
#chatroom-textentry {
  margin-top: 20px;
}
#chatroom-board {
  width: 97%;
  overflow: auto;
  height: 300px;
  padding: 0.2em 0.5em 0.5em 0.5em;
  margin-top: 0.5em;
  background-color: #fefdfc;
  border: solid 1px #e0e0e0;
}
.clear-both {
  clear: both;
}
.chatroom-archive-user {
  font-weight: bold;
}
.chatroom-old-msg {
  color: #a0a0a0;
}
.chatroom-system-msg {
  color: #808080;
  font-style: italic;
  font-weight: bold;
}
.chatroomLink {
  font-style: italic;
  font-size: 0.9em;
}
/* vim: set expandtab tabstop=2 shiftwidth=2 autoindent smartindent: */
