/* $Id$ */
#chatroom-textentry {
  padding: 5px 5px 5px 5px;
  background-color: #f5f5f5;
  border: solid 1px #e0e0e0;
  margin-top: 20px;  
}
#chatroom-list-description {
  padding: 5px 5px 5px 5px;
  background-color: #f5f5f5;
  border: solid 1px #e0e0e0;
  margin-bottom: 20px;
}
.chatroom-textentry-smileys {
  padding-top: 10px;
}
.chatroom-textentry-smileys-hidden {
  visibility: hidden;
  display: inline;
}
.chatroom-textentry-smileys img {
  vertical-align: top;
  margin-right: 5px;
}
#chatroom-board {
  overflow: auto;
  height: 300px;
  padding: 1px 1px 1px 1px;
  margin-top: 5px;  
  border: solid 1px #e0e0e0;
}
#chatroom-board p{
  margin: 1px 0 0 0;    
}
.clear-both {
  clear: both;
}
.chatroom-archive-user {
  font-weight: bold;
}
.chatroom-old-msg {
  color: #a0a0a0;
}
.chatroom-system-msg {
  color: #660000;
  font-style: italic;
}
.chatroom-me-msg i {
  color: #7777FF;  
}
.chatroom-me-msg, .chatroom-old-msg, .chatroom-system-msg, .chatroom-msg {
  background-color: #f5f5f5;
  padding: 5px;
}
.chatroom-old-msg .header, .chatroom-system-msg .header, .chatroom-msg .header {
  display: block;
  margin-bottom: 3px;
}
.chatroomLink {
  font-style: italic;
  font-size: 0.9em;
}
/* vim: set expandtab tabstop=2 shiftwidth=2 autoindent smartindent: */
